## tuple in python

In [ ]:
1. orderd
2. immutable

In [9]:
my_tuple = (1,2,3) #here once value is assigned it cannot be changed thats y error
my_tuple[0] = 225

TypeError: 'tuple' object does not support item assignment

In [ ]:
3. heterogeneous it can have diff data types

In [11]:
tup = (1,"hello",3.14)
tup

(1, 'hello', 3.14)

In [ ]:
4. indexing and slicing

In [15]:
my_tuple = (10,20,30,40)
print(my_tuple[2]) # accesed by index
print(my_tuple[1:4]) # here part is sliced

30
(20, 30, 40)

In [ ]:
5. packing and unpacking

In [19]:
#packing
my_tuple = 1,2,3 # here (,) is defined as tuple
type(my_tuple)

tuple

In [21]:
# unpacking
a,b,c = my_tuple
print(a,b,c)

1 2 3

In [23]:
a

1

In [26]:
b

2

In [28]:
c

3

In [ ]:
when to use tuple : if we dont want to modify the data then we use tupple

In [30]:
person = ("sania",20,"bca")
print(person[0])
print(person[1])
print(person[2])

sania
20
bca

In [32]:
coordinates = (10,20,30)
x = coordinates[0]
y = coordinates[1]
z = coordinates[2]
print(x,y,z)

10 20 30

In [44]:
value = [[1,2,3,4],[5,6,7,8,[11,12,13]]]
value[0][0]

1

In [68]:
value [1][1]

6

In [78]:
value [1][0]

5

In [ ]:
# slicing in tuple

In [164]:
my_tuple = (1,2,3,4,5,6,7,8,9)

In [168]:
slice_1 = my_tuple[0:3]
print(slice_1)
slice_2 = my_tuple[3:]
print(slice_2)

(1, 2, 3)
(4, 5, 6, 7, 8, 9)

In [94]:
# scenario
fruits = ("apple","banana","cherry","date","elderberry")
print(fruits[2])

cherry

In [110]:
#scenario
numbers = (10,20,30,40,50)
new_tuple = numbers[:3]
print(new_tuple)

(10, 20, 30)

In [112]:
#scenario
colors = ("red","green","blue","yellow","purple")
colors[-1]

'purple'

In [120]:
#scenario
nested_tuple = (1,(2,3),(4,(5,6),7),8)
nested_tuple[2][1][0]

5

In [122]:
names = ("alice","bob","charlie","diana","eve")
last_three = names[-3:]
last_three

('charlie', 'diana', 'eve')

In [ ]:
1. covrt tuple to list , modify,and covert again

In [126]:
#original tuple
fruits = ("apple","banana","cherry")

In [128]:
type(fruits)

tuple

In [130]:
a = list(fruits)

In [132]:
type(a)

list

In [134]:
a.append("mango")
a

['apple', 'banana', 'cherry', 'mango']

In [136]:
b = tuple(a)

In [138]:
type(b)

tuple

In [142]:
b

('apple', 'banana', 'cherry', 'mango')

In [ ]:
2.concatenate slices of tuple

In [160]:
fruits = ("apple","banana","cherry")
fruits_new = fruits[:1] + ("blueberry",) + fruits[2:] #here , is important else error will be thrown
print(fruits_new)

('apple', 'blueberry', 'cherry')

In [ ]:
3.using concatenationnn to add ele

In [170]:
fruits = ("apple","banana","cherry")
fruits1 = fruits + ("date",)
print(fruits1)

('apple', 'banana', 'cherry', 'date')

In [ ]:
4.deleting a tuple we can delete entire tuple not an single element

# tuple arithmetic operation

In [ ]:
*addition
*multiplication
(subtraction and division is not used in tuple)

# membership in tuple

In [ ]:
*in operator
* not in operator

# methods in tuple

In [ ]:
1.count()
2.index()

In [177]:
name = ("sania")
name.index("i")

3

# function on tuple

In [ ]:
1. len()

In [180]:
name = ("sania")
len(name)

5

In [ ]:
2.max()

In [186]:
name = ("sania mirza.h")
max(name)

'z'

In [ ]:
3.min()

In [192]:
name = ("sheikhsania")
min(name)

'a'

In [ ]:
4.sum()

In [200]:
my_tuple = (1,2,3,4,5,6,7,8,9)
sum(my_tuple)

45

In [ ]:
5.sorted() here sort will not work because it is immutable

In [ ]:
6. any()

In [202]:
tuple = (0,0,0)
any(tuple)

False

In [ ]:
7.all()

In [208]:
tuple = (1,1,1)
all(tuple)

True

In [218]:
#scenario
scores = (88,76,92,85,79)
highest = max(scores)
print("highest:",highest)

highest: 92

In [220]:
lowest = min(scores)
print("lowest:",lowest)

lowest: 76

In [230]:
#scenario
cities = ("new york","los angeles","paris","london","tokyo")
search_paris = "paris" in cities
print("paris is located in cities : ",(search_paris))

paris is located in cities :  True