In [5]:
import pandas as pd

In [13]:
s1 = pd.Series([10,20,30]) # s should ne in cap
print(s1)

0    10
1    20
2    30
dtype: int64

In [15]:
import pandas as pd

In [23]:
data = {'name' : ['sheikh','sania','mirza'],
        'age': [20,21,22],
        'city': ['bangalore','mysore','chittore']}
df = pd.DataFrame(data)
print(df)

     name  age       city
0  sheikh   20  bangalore
1   sania   21     mysore
2   mirza   22   chittore

In [31]:
data = {'name' : ['sheikh','sania','mirza'],
        'age': [20,21,22],
        'city': ['bangalore','mysore','chittore'],
        'gmail':['sheikh02@gmail.com','sania042gmail.com','mirza06@gmail.com']
       }
df = pd.DataFrame(data)
print(df)
print("adding new column")
df['email'] = ['sheikh02@gmail.com','sania042gmail.com','mirza06@gmail.com']
print(df)

     name  age       city               gmail
0  sheikh   20  bangalore  sheikh02@gmail.com
1   sania   21     mysore   sania042gmail.com
2   mirza   22   chittore   mirza06@gmail.com
adding new column
     name  age       city               gmail               email
0  sheikh   20  bangalore  sheikh02@gmail.com  sheikh02@gmail.com
1   sania   21     mysore   sania042gmail.com   sania042gmail.com
2   mirza   22   chittore   mirza06@gmail.com   mirza06@gmail.com