## type conversion:
converting 1 data type to another is known as type convertion

In [5]:
a = 555

In [7]:
type(a)

int

In [9]:
float(a) #coverting int to float

555.0

In [11]:
str(a) #converting int to str

'555'

In [19]:
a = 500

In [21]:
type(a)

int

In [23]:
float(a)

500.0

In [29]:
str(a)

'500'

In [31]:
int_value=10 #integer data type

In [33]:
type(int_value)

int

In [35]:
float_value=float(int_value) #converting it to float DT

In [37]:
type(float_value)

float

## TYPES OF TYPE CONVERTION
1) Implicit type: it is atype conversion done by the python

In [39]:
print(6+5.8) #example

11.8

In [41]:
print(type(6),type(5.8))

<class 'int'> <class 'float'>

In [ ]:
2) explicit type: when a programmer explicitly written by user

In [43]:
a = 10 #example

In [45]:
type(a)

int

In [51]:
str(a) #converting to string

'10.0'

In [53]:
float(a)

10.0

## WHAT IS SYNTAX

In [ ]:
syntax refers to the set of rules that defines the structure of valid statements

In [58]:
print("hello world !") # syntax to print

hello world !

# literals

In [ ]:
a literal is a fixed value that is directly written into the code ,snd represnt a specific data type

In [61]:
age = 30 # 30 is an integer literal

## operators

In [ ]:
an operator is a symbol that perform operation

In [ ]:
> ARITHMETIC OPERARION:

In [ ]:
* addition

In [64]:
a=10 # example

In [66]:
b=20

In [68]:
a+b

30

In [70]:
#subtraction

In [72]:
a-b

-10

In [74]:
#multiplication

In [76]:
a*b

200

In [78]:
#division

In [80]:
a/b

0.5

In [82]:
#module

In [84]:
a%b

10

In [86]:
# floor division(//) : this operator divides the first number by the second and returns the largest less than

In [88]:
result = 16//22 #example

In [90]:
result

0

In [92]:
result = 16//3

In [94]:
result

5

In [96]:
16/22 #normal division

0.7272727272727273

In [98]:
16/3 #normal division

5.333333333333333

In [102]:
#exponential(**)

In [104]:
# example
value =2**4 # it multiplies the 1st num to the times of 2nd one
2*2*2*2

In [106]:
value

16

# combining Arithmetic operators

In [109]:
#example
result = 5+3-8/4

In [111]:
result # here division as 1st preference then multiplication ,addition and subtraction

6.0

In [ ]:
>> EXCERCISE
#scenario 
#exam:85 90 78 92 88

In [121]:
(85+90+78+92+88)/5

86.6

In [129]:
scores = [85,90,78,92,88]

In [131]:
total_score = sum(scores)

total_score

In [ ]:
>scenario u have a omntly budget of $,200 
you spend $350 on groceries
$150 on utilities and 200 on transport

In [157]:
#start
budget =1200

In [159]:
#expenses
groceries = 350
utilities =150
transport =200

In [161]:
remaining_budget= budget-(groceries,utilities,transport)

TypeError: unsupported operand type(s) for -: 'int' and 'tuple'

In [163]:
print("remaining budget:", remaining_budget)

NameError: name 'remaining_budget' is not defined

In [143]:
#initial 
book_price = 23.75

In [145]:
#bill
paid_bill = 50

In [147]:
change = (paid_bill-book_price)

In [149]:
change

26.25

In [153]:
#dimension of garden
width=10
length=15

In [155]:
area = width*length

area

In [165]:
#cost
cost_price =120
selling_price =180

In [167]:
#calculate rofit
profit= selling_price-cost_price

In [169]:
print("profit:",profit)

profit: 60