In [7]:
# question
password = "sheikh sania"
if len(password)<6:
    print("week password")
elif len(password)==8:
    print("moderate password")
elif len(password)>8:
    print("strong password")

strong password

In [23]:
#for loop
a = [1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

syntax: for var in sequence:

# sequences

In [ ]:
*tuple
*list
*strings
*ranges
*sets
*dictionaries

In [26]:
#ex list
fruits = ['apple', 'banana', 'mango']
for fruit in fruits:
    print(fruit)

apple
banana
mango

In [28]:
# string
word = "hello"
for i in word: #we can put anything in place of (i) and put same word in print
    print(i)

h
e
l
l
o

In [30]:
#range
for i in range(0, 11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [32]:
for i in range(0, 11,2): #here with 2 we can skip no
    print(i)

0
2
4
6
8
10

In [34]:
for i in range(0, 11,3): #here with 2 we can skip no
    print(i)

0
3
6
9

In [36]:
#looping with else
for i in range(0, 11,2): #here after printing u can use else to print staement
    print(i)
else:
    print("loop is executed")

0
2
4
6
8
10
loop is executed

In [60]:
# nested  for loop
for i in range(3):
    for j in range(2):
        print(f" i= {i}, j={j}") // print(i,j) # we can call any variable using curly braces

 i= 0, j=0
 i= 0, j=1
 i= 1, j=0
 i= 1, j=1
 i= 2, j=0
 i= 2, j=1

In [64]:
name = "sania"
print(f"my name is {name}") // here f and {} are important

my name is sania

In [66]:
for i in range(3):
    print("this is outer loop")
    for j in range(3):
        print("this is inner loop")

this is outer loop
this is inner loop
this is inner loop
this is inner loop
this is outer loop
this is inner loop
this is inner loop
this is inner loop
this is outer loop
this is inner loop
this is inner loop
this is inner loop

In [72]:
for i in range(3):
    print(i)
    print("this is first")
    print("this is second")
    print("this is third")

0
this is first
this is second
this is third
1
this is first
this is second
this is third
2
this is first
this is second
this is third

In [84]:
#loop with index
str = "hello"
n = len(str)
for i in range(n):
    print(i,"=",str[i])
else:
    print("rest of code")

0 = h
1 = e
2 = l
3 = l
4 = o
rest of code

In [106]:
#break 
for num in range(10):
    if num==5:
        break
        print(num)

#continue

In [108]:
for number in range(5):
    if number==2:
        continue # skip the number when continue is used
        print(number)

In [ ]:
# pass

In [ ]:
it is similar to continue given example how 3 is not printed in continue same in pass 3 will not print

In [138]:
# search a specific num and print stop
number = [1,2,3,4,5,6]
target = 3
for number in number:
    if n==number:
        print("the number target is found")
        break

the number target is found

In [130]:
for  i in range(5):
    print(i)

0
1
2
3
4

In [132]:
print("sheikh")

sheikh