# loop

In [ ]:
while loop with condition

In [4]:
# incremaent
num=10
while num>0:
    print("current number is:" , num)
    num -=2

current number is: 10
current number is: 8
current number is: 6
current number is: 4
current number is: 2

In [8]:
# decrement
counter = 2 
while counter >= 5:
    print("curent number is", counter)
    counter += 2

In [ ]:
>>>infinite loop  if the condition in a while loop nver becomes false
(it never stops) use this carefully or the sys will crash

In [ ]:
while true:
    print("print this") // we have to specify break to stop the loop

In [ ]:
>>> using else with loop
python allows else state to be used with a while loop. the else block condition

In [10]:
x=3
while x>0:
    print("x is:",x)
    x-=1

x is: 3
x is: 2
x is: 1

In [ ]:
>>> strings
immutable(cant be changed once created)
index(accessing particular index)
iterable(aloows to access eah character individually)

In [12]:
# creating string
str = ' sania'

In [14]:
str

' sania'

In [16]:
#indexing
str = "sania"
str[3]

'i'

In [24]:
str[2]

'n'

In [26]:
#negative indices
my_string = "sheikh"
my_string[2]

'e'

In [28]:
my_string[-2] // ulta

'k'

In [ ]:
>>>slicing(extracting part from whole string)

In [30]:
my_string = "sheikh sania"
my_string[0:4]

'shei'

In [34]:
my_string[0:9]

'sheikh sa'

In [36]:
my_string[0:9:3]

'si '

In [38]:
my_string[ :9] //end

'sheikh sa'

In [40]:
my_string[2: ] //omit

'eikh sania'

In [50]:
text = "python programmig"
reversed_text = text[::-1]

In [ ]:
>> editng ang deleting

In [ ]:
1. string replacement

In [58]:
original_str="hello world"
new_string=original_str.replace("world", "sania")

In [62]:
new_string

'hello sania'

In [66]:
name = "i am sheikh"
new_word = name.replace("sheikh", "sania")
new_word

'i am sania'

2. concatination

In [74]:
first = "hello"
second ="world"
combined_string=first+" "+second
combined_string

'hello world'

In [ ]:
3. formatting

In [76]:
name = "sania"
age = 21
print("my name is",name,"my age is",age)

my name is sania my age is 21

In [84]:
f"my name is{name} my age is {age}" # even like this we can print

'my name issania my age is 21'

In [ ]:
deleting variable

In [96]:
my_name = "sania"
my_name

'sania'

del my_name // it is used to delete the string