# functions

In [2]:
# functions:block of code that performs a specific task

# syntax: def function name():
#function body
#code to execute

In [4]:
def add_two():
    a=10
    b=29
    c=a+b
    print(c)

In [6]:
add_two()

39

In [8]:
def greet():
    print("hello world!")
    
greet()

hello world!

In [10]:
def greet():
    name = input("enter your name")
    print(f"hello {name} welcome to the party")
    
greet()

enter your name mehak

hello mehak welcome to the party

In [ ]:
#user defined functions
#built in functions
#methods

In [12]:
def sub():
    a=10
    b=30
    c=b-a
    print(c)
sub()

20

In [14]:
#basic calculator
def calculations():
    a=10
    b=20
    c=b+a,b-a,b*a,b/a
    print(c)
calculations()

(30, 10, 200, 2.0)

In [16]:
def multiplication_table():
 num = int(input("enter a number for the multiplication table:"))
 for i in range(1,11):
   print(f"{num}x{i}={num*i}")

In [18]:
multiplication_table()

enter a number for the multiplication table: 19

19x1=19
19x2=38
19x3=57
19x4=76
19x5=95
19x6=114
19x7=133
19x8=152
19x9=171
19x10=190

In [20]:
#parameters
#arguments
def func(a,b):
    c=a+b
    print(c)
func(10,20)

30

In [22]:
add_two()

39

In [24]:
def func2():
    a=100
    b=20
    c=a+b
    return c
func2()

120

In [26]:
def check_even(number):
    if number % 2==0:
        return"even"
        return "odd"
result=check_even(4)
print(result)

even

In [28]:
check_even(4)

'even'

In [30]:
def create_list():
    return[1,2,3,4]
my_list=create_list()
print(my_list)

[1, 2, 3, 4]